.add-own-card-bg-con{
    width: 87vw;

}
.add-own-card-con{
  
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
}
@media screen and (max-width:576px){
    .add-own-card-con{
    padding: 20px;
}
}