.footer-bg-con{
width: 80vw;
margin-top: 80px;
}
.c-icon{
    font-size: 15px;
}
.icon-con{
    height: 28px;
    width: 28px;
    border-radius: 14px;
    background-color:#ecdcf2;
    margin-right: 15px;
}
.c{
    color: rgb(120, 118, 118);
    font-size: 13px;
    margin-top: 15px;
    margin-left: 10px;
}
.media-icon{
    font-size: 16px;
    color: rgb(113, 68, 156);
}
.footer-link-title{
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.link{
    font-size: 14px;
    color: rgb(107, 105, 105);
 
}

.footer-search-icon-con{
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blueviolet;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-con{
    height: 10vh;
    color: #3f3e40;
    background-color: #e7e7e8;
}
.c-row{
    width: 100vw;
}